In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
ords = pd.read_csv(r'C:\Users\New\Desktop\new\02 Data\Original Data\orders.csv', index_col = False)

In [5]:
ords_prior = pd.read_csv(r'C:\Users\New\Desktop\new\02 Data\Original Data\order_products__prior.csv', index_col = False)

In [6]:
ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [7]:
ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
path = r'C:\Users\New\Desktop\new'

In [10]:
ords.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [12]:
ords.rename (columns ={'order_dow':'orders_day_of_week',
'order_hour_of_day':'order_time_of_day'}, inplace = True)

In [13]:
ords_prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [15]:
ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_time_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [16]:
ords['order_id'] = ords['order_id'].astype('int32')

In [17]:
ords['user_id'] = ords['user_id'].astype('int32')

In [18]:
ords['order_number'] = ords['order_number'].astype('int8')

In [19]:
ords['order_time_of_day'] = ords['order_time_of_day'].astype('int8')

In [22]:
ords['orders_day_of_week'] = ords['orders_day_of_week'].astype('int8')

In [23]:
ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   eval_set                object
 3   order_number            int8
 4   orders_day_of_week      int8
 5   order_time_of_day       int8
 6   days_since_prior_order  float64
dtypes: float64(1), int32(2), int8(3), object(1)
memory usage: 88.1+ MB

In [24]:
ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [25]:
ords_prior['product_id'] = df_ords_prior['product_id'].astype('int32')

In [26]:
ords_prior['reordered'] = df_ords_prior['reordered'].astype('int8')

In [27]:
ords_prior['order_id'] = df_ords_prior['order_id'].astype('int32')

In [28]:
ords_prior['add_to_cart_order'] = df_ords_prior['add_to_cart_order'].astype('int32')

In [29]:
ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [30]:
# df1 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Orders.csv'))

In [32]:
# df2 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Orders_products_prior'), index_col = None)

In [33]:
ords_prior_key = ords_prior['order_id']

In [34]:
df_result = pd.DataFrame(columns=(ords.columns.append(ords_prior.columns)).unique())

In [38]:
df_result.to_csv(os.path.join(path, '02 Data', 'Prepared Data','df3.csv'),index_label=False)

In [40]:
del(ords_prior)

In [58]:
df_test = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df3.csv'))

In [59]:
df_test.shape

(0, 10)

In [60]:
df_test.head()

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, orders_day_of_week, order_time_of_day, days_since_prior_order, product_id, add_to_cart_order, reordered]
Index: []

In [61]:
df_test.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered'],
      dtype='object')

In [69]:
ords.shape

(3421083, 7)

In [70]:
ords_prior = pd.read_csv(r'C:\Users\New\Desktop\new\02 Data\Original Data\order_products__prior.csv', index_col = False)

In [71]:
ords_prior.shape

(32434489, 4)

In [73]:
df_merged_large = ords.merge(ords_prior, on = 'order_id', indicator = True)

In [74]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [75]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [76]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))